In [29]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [23]:

machine = pd.read_csv('machine.txt', sep="\t", encoding="utf-16")

In [24]:
machine

   New machine  Old machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

One tailed t-test - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [25]:
machine['difference'] = machine['New machine']-machine['Old machine']
machine.head()

   New machine  Old machine  difference
0         42.1         42.7        -0.6
1         41.0         43.6        -2.6
2         41.3         43.8        -2.5
3         41.8         43.3        -1.5
4         42.4         42.5        -0.1

In [26]:
machine_diff_mean, machine_diff_std = machine['difference'].mean(), machine['difference'].std(ddof=1)
machine_diff_mean, machine_diff_std

(-1.0900000000000012, 1.125907041751967)

In [27]:
t = machine_diff_mean / ( machine_diff_std / np.sqrt(machine.shape[0]) )
print("The mean of our samples differences is: {:.2f}".format(machine_diff_mean))
print("The standard deviation of our samples differences is: {:.2f}".format(machine_diff_std))
print("Our t statistics is: {:.2f}".format(t))

The mean of our samples differences is: -1.09
The standard deviation of our samples differences is: 1.13
Our t statistics is: -3.06

In [32]:
st.t.cdf(t,df = machine.shape[0] - 1)

0.006770167825816246

In [ ]:
#We reject the null hypothesis that the machines are equally as fast

Matched Pairs Test - In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [33]:
pokemon = pd.read_csv('pokemon.csv')

In [34]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [35]:
pokemon['difference'] = pokemon['Attack']-pokemon['Defense']
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,difference
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,-1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,-23
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,9

In [36]:
pokemon_diff_mean, pokemon_diff_std = pokemon['difference'].mean(), pokemon['difference'].std(ddof=1)
pokemon_diff_mean, pokemon_diff_std

(5.15875, 33.7323418553516)

In [37]:
t = pokemon_diff_mean / ( pokemon_diff_std / np.sqrt(pokemon.shape[0]) )
print("The mean of our samples differences is: {:.2f}".format(pokemon_diff_mean))
print("The standard deviation of our samples differences is: {:.2f}".format(pokemon_diff_std))
print("Our t statistics is: {:.2f}".format(t))

The mean of our samples differences is: 5.16
The standard deviation of our samples differences is: 33.73
Our t statistics is: 4.33

In [39]:
st.t.cdf(t,df = pokemon.shape[0] - 1)

0.9999914298482603

In [40]:
#We cannot reject the null hypothesis that the attack and defense stats are equal

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data anova_lab_data.xlsx file in the files_for_lab folder

State the null hypothesis (h0):
$$H0: \mu_{b} = \mu_{a} → \mu_{b} - \mu_{a} = 0$$
$$H1: \mu_{b} \neq \mu_{a} → \mu_{b} - \mu_{a} \neq 0$$

In [56]:
data=pd.read_excel("anova_lab_data.xlsx")

In [57]:
data.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [72]:
def clean_p(x):
    x=x.replace("W", "")
    x=pd.to_numeric(x)
    return x
data["Power "]=data["Power "].apply(clean_p)

In [73]:
data.head()

   Power   Etching Rate
0     160          5.43
1     180          6.24
2     200          8.79
3     160          5.71
4     180          6.71

In [80]:
data.shape

(15, 2)

In [74]:
sample_p, sample_e = data['Power '], data['Etching Rate']

In [ ]:
# Significance level is 5%
# degrees of freedom is len(sample_p)-1

In [77]:
sample_p_mean, sample_e_mean = data['Power '].mean(), data['Etching Rate'].mean()
sample_p_std, sample_e_std = data['Power '].std(ddof=1), data['Etching Rate'].std(ddof=1)
sp = ( len(sample_p) - 1 ) * ( sample_e_std**2 ) +  ( len(sample_e) - 1 ) * ( sample_e_std**2 )
sp /= ( len(sample_p) + len(sample_e) - 2)
r = np.sqrt( (1/len(sample_p)) + (1/len(sample_e)) )
t = ( sample_p_mean - sample_e_mean )/ (sp * r)

print("The mean of Power is {:.2f}".format(sample_p_mean))
print("The mean of Etching Rate is {:.2f}".format(sample_e_mean))
print("The standard deviation of Power is {:.2f}".format(sample_p_std))
print("The standard deviation of Etching Rate is {:.2f}".format(sample_e_std))
print("The ratio of the variances is {:.2f}".format(sample_p_std/sample_e_std))
print("The t statistic is: {:.2f}".format(t))

The mean of Power is 180.00
The mean of Etching Rate is 6.78
The standard deviation of Power is 16.90
The standard deviation of Etching Rate is 1.23
The ratio of the variances is 13.76
The t statistic is: 314.25

In [79]:
st.t.cdf(t,df = len(sample_p)+len(sample_e)-2)

1.0

In [ ]:
#We cannot reject the null hypothesis that changing the power of the plasma beam will have no effect on 
#the etching rate by the machine

## In this section, use the Python to conduct ANOVA.

In [81]:
S2t = 0
for i in data['Power '].unique():
    ng = len(data[data['Power '] == i])  
    S2t  += ( ( data[data['Power '] == i]['Etching Rate'].mean() - data['Etching Rate'].mean() ) ** 2) * ng
S2t /= ( data['Power '].nunique() - 1 )
print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

In [84]:
S2E = 0
for i in data['Power '].unique():
    for rate in data[data['Power '] == i]['Etching Rate']:
        S2E += ( rate - data[data['Power '] == i]['Etching Rate'].mean() ) ** 2
S2E /= ( len(data) - data['Power '].nunique() ) 

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

In [87]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [ ]:
# We cannot reject the null hypothesis that  all the group means are equal.